:root {

	/* VARIABLES */

	/* FONTS */
	--font: Menlo, Monaco, monospace;

	/* COLORS */
	/* PRIMARY COLORS */
	--black:		#333;
	--blue:			#51A8D7;
	--light-blue:	#dcedff;
	--green:		#58af65;
	--grey: 		#ddd;
	--purple: 		#602c7a;
	--red:			#9c3848;
	--text-grey:	#999;
	--white:		white;

	/* COLOR USES */
	--bg-color:		var(--white);
	--text-color:	var(--black);

	/* NUMBERS */
	--big-font-size: calc(var(--font-size) * 1.25);
	--border-radius: 0;
	--column-width: 600px;
	--font-size: 16px;
	--small-font-size: 75%;
	--y-space: 20px;
	--x-space: 20px;
}

body {
	font-family: var(--font);
	font-size: var(--font-size);
	color: var(--black);
	margin: 0;
}

/* ELEMENTS */

a {
	text-decoration: underline;
	color: var(--blue);
}

code {
	background: var(--grey);
	border-radius: 3px;
	color: var(--red);
	padding: 3px;
}

footer {
	background: var(--blue);
	color: var(--white);
	display: flex;
	justify-content: center;
}
input {
	border: 1px solid var(--background-color);
	border-bottom: 1px solid var(--grey);
	font-family: inherit;
	font-size: inherit;
	height: var(--y-space);
}

input:focus {
	outline: none;
	border-bottom: 1px solid var(--blue);
}

input:focus + label {
	color: var(--blue);
}

input:not(:placeholder-shown):not(:focus) + label {
	color: var(--grey);
}

/* CLASSES */

.big {
	font-size: var(--big-font-size);
}

.block {
	display: block;
	margin-bottom: 5px;
}

.button {
	background-color: var(--purple);
	border: 1px solid var(--purple);
	border-radius: var(--border-radius);
	color: var(--white);
	cursor: pointer;
	font-size: var(--font-size);
	height: inherit;
	padding: 10px 15px;
}

.button.cta {
	background-color: var(--blue);
	border-color: var(--blue);
}

.button.green {
	background-color: var(--green);
}

.button.red {
	background-color: var(--red);
}

.centered {
	display: flex;
	align-items: center;
}

.column {
	margin: auto;
	text-align: left;
	width: var(--column-width);
	max-width: 100%;
}

.fullpage {
	box-sizing: border-box;
	min-height: 100vh;
	padding: var(--y-space) var(--x-space);
}

.fullwidth {
	width: 100%;
}

.hero-blue {
	background: var(--blue);
	color: var(--white);
}

.hero-green {
	background: var(--green);
	color: var(--white);
}

.hero-purple {
	background: var(--purple);
	color: var(--white);
}

[class*="hero-"] a {
	color: var(--white);
}

div.name {
	display: inline-block;
	width: 49%;
}

.small {
	font-size: var(--small-font-size);
}

.space-all {
	margin: var(--y-space) var(--x-space);
}

.space-bottom {
	margin-bottom: var(--y-space);
}

.space-left {
	margin-left: var(--x-space);
}

.space-right {
	margin-right: var(--x-space);
}

.space-top {
	margin-top: var(--y-space);
}

.subtitle {
	color: var(--text-grey);
	margin-top: 0;
}
